<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let row of grid">
        <ion-col width-50 *ngFor="let x of row">
          <div *ngIf="x" class="card-background-page">
              <ion-card (click)="someFunction(x)">
                <img src='assets/imgs/{{ tours[x-1].image }}'>
                <div class="card-title">{{ tours[x-1].name }}</div>
              </ion-card>
          </div>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
